@page "/radar"

<div style="background:black;width:800px;height:800px">

    <svg width="800" height="800">

        <!-- Outer ring -->
        <circle cx="400" cy="400"
                r="350"
                stroke="lime"
                stroke-width="1"
                fill="none" />

        <!-- Middle ring -->
        <circle cx="400" cy="400"
                r="250"
                stroke="lime"
                stroke-width="1"
                fill="none" />

        <!-- Inner ring -->
        <circle cx="400" cy="400"
                r="150"
                stroke="lime"
                stroke-width="1"
                fill="none" />

        <!-- Horizontal line -->
        <line x1="50"
              y1="400"
              x2="750"
              y2="400"
              stroke="lime"
              stroke-width="1" />

        <!-- Robot -->
        <circle cx="400"
                cy="400"
                r="6"
                fill="red" />

    </svg>

</div>

@code {

}
